:root {
  --ss-bg-color: rgb(16, 18, 30);
  --ss-border-color: rgb(17, 204, 73);
  --ss-primary-color: rgb(17, 204, 73);
  --ss-font-color: rgb(255, 255, 255);
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(15, 168, 23);
  background-color: black;

  background-image: url('../images/backgrCat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.cat-info {
  position: relative;
  left: 60%;
  display: grid;
  margin: 40px 0;
}

.cat-image {
  height: 400px;
  border-radius: 5px;
  box-shadow: 0 0 50px 15px rgb(3, 211, 82);
}

.cat-name,
.cat-description,
.cat-temperament {
  max-width: 500px;
  text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.6);
}

.cat-name,
.cat-span,
.success,
.error {
  text-transform: uppercase;
  color: rgb(252, 176, 13);
}

.loader-container {
  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.loader {
  border: thick double #30c243;
}

.success,
.error {
  display: flex;
  justify-content: center;
  position: relative;
  top: -90px;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.is-hidden {
  display: none;
}
